@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Raleway:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
.center{
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header{
    background-color: #1877f2;
    color: white;
}
.form-login{
    text-align: center;
    padding: 10px;
}
.form-element{
    margin: 0 5px;
    display: inline-block;
    justify-content: right;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}
.form-element p{
    text-align: start;
}
.logo{
    font-size: 25px;
    font-weight: 400;
}
.form-element input[type=email],
.form-element input[type=password]{
    max-width: 180px;
    border: none;
    padding: 0 4px;
    outline: none;
}
.form-element input[type=submit]{
    background-color: #0656be;
    color: white;
    border: none;
    width: 60px;
    padding: 3px 3px;
    margin-right: 4px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-element input[type=submit]:hover{
    background-color: #033474;
}

section.main{
    background: linear-gradient(white, #D3D8E8);
    padding: 40px 0;
}
.img-pessoas{
    width: 50%;
}
.abrir-conta h1{
    font-weight: 700;
    font-size: 40px;
    width: 100%;
}
.form-cadastro{
    margin-top: 10px;
}
.form-cadastro input[type=text]{
    padding: 0 5px;
    font-size: 14px;
    margin-top: 4px;
    height: 35px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.email-fone input[type=email],
.email-fone input[type=password]{
    width: 100%;
    padding: 0 5px;
    font-size: 14px;
    margin-top: 4px;
    height: 35px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.data{
    margin-top: 7px;
}
.data input[type=date]{
    outline: none;
}
.checked{
    margin-top: 10px;
}
.checked label{
    margin-right: 10px;
}
.btn input[type = submit]{
    width: 200px;
    border: 1px solid black;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    max-width: 200px;
    background-color: rgb(3, 90, 3);
    cursor: pointer;
    margin-top: -5px;
    margin-top: 10px;
}
.link p{
    font-size: 12px;
    margin-top: 10px;
}
.link p a{
    text-decoration: none;
    color: #0656be;
}
.data select{
    display: inline-block;
    margin-right: -4px;
    border: 1px solid #ccc;
}
section .link-languege{
    padding: 10px 10px;
    text-align: start;
    flex-wrap: wrap;
}
.link-languege a{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 12px;
}

@media screen and (max-width: 810px){
    .img-pessoas{
        display: none;
    }
    .abrir-conta{
        text-align: center;
    }
    .text-center{
        text-align: center;
        width: 100%;
        flex-wrap: wrap;
    }
    .btn{
        margin-top: 10px;
    }
    .center{
        display: block;
    }
    .form-element{
        display: block;
    }
    .form-element p{
        text-align: center;
    }
    .logo{
        width: 100%;
        text-align: center;
    }
    .email-fone input[type=email],
    .email-fone input[type=password]{
        max-width:380px;
    }

}
@media screen and (max-width: 400px){
    .form-cadastro input[type=text]{
        width: 80%;
        max-width: 80%;
        margin-top: 8px;
    }
    .email-fone input[type=email],
    .email-fone input[type=password]{
        width: 80%;
        max-width: 80%;
        margin-top: 8px;
    }
    .btn input[type = submit]{
        margin-top: 8px;
    }
    .form-element input[type=submit]{
        margin-top: 8px;
    }
}